.fragments-menu-card {
  position: absolute;
  width: 500px;
  height: 400px;
  z-index: 100;
  top: 100px;
  right: 30px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-align: left;
  
}
.fragments-menu-cardUP {
overflow: auto;
}
.button-list{
  z-index: 101;
}
 
.fragments-menu-card-rolled {
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 20px;
}

.fragments-menu-card-rolled:hover {
  background: rgb(227, 226, 226);
}